<h1>These are the companies</h1>
{{outlet}}

Company Id: 1 <br>
Company Name: Apple <br>
Company Value: 8000.0 <br><br>

Company Id: 1 <br>
Company Name: IBM <br>
Company Value: 8000.0 <br><br>

Company Id: 1 <br>
Company Name: USD <br>
Company Value: 8000.0 <br><br>

Company Id: 1 <br>
Company Name: Wal-Mart <br>
Company Value: 8000.0 <br><br>
