<h1>These are our stocks</h1>
{{outlet}}

StockID: 1 <br>
Email: bob@gmail.com <br>
CompanyID: Apple <br>
Number of shares: 20 <br><br>

StockID: 1 <br>
Email: bob@gmail.com <br>
CompanyID: IBM <br>
Number of shares: 20 <br><br>

StockID: 1 <br>
Email: bob@gmail.com <br>
CompanyID: USD <br>
Number of shares: 20 <br><br>

StockID: 1 <br>
Email: bob@gmail.com <br>
CompanyID: Wal-Mart <br>
Number of shares: 20 <br><br>
