<h1>These are our users</h1>
<br>
Username: joe@gmail.com <br>
Password: terriblepassword <br>
SSN: 123 <br><br>

Username: jime@gmail.com <br>
Password: terriblepassword <br>
SSN: 123 <br><br>

Username: bob@gmail.com <br>
Password: terriblepassword <br>
SSN: 123 <br><br>

Username: robby@gmail.com <br>
Password: terriblepassword <br>
SSN: 123 <br><br>

{{outlet}}

{{#each model as |user|}}
  <h3>{{user.username}}</h3>
{{/each}}
